img.img-thumbnail {
    height: 175px;
    min-width: 175px !important;
    margin-bottom: 2px;
}

.not-approved {
    opacity: 0.2;
}

.img-wrapper {
    position: relative
}

.img-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 30%;
}