<div class="text-center mt-3">
    <h2>{{getTitle()}}</h2>
</div>

<div class="container mt-3">
    <div class="d-flex">
        <div class="btn-group">
            <button class="btn btn-primary" btnRadio="liked" [(ngModel)]="predicate" (click)="loadLikes()">Members I
                like</button>
            <button class="btn btn-primary" btnRadio="likedBy" [(ngModel)]="predicate" (click)="loadLikes()">Members who
                like me</button>
            <button class="btn btn-primary" btnRadio="mutual" [(ngModel)]="predicate"
                (click)="loadLikes()">Mutual</button>
        </div>
    </div>

    <div class="row mt-3">
        @for (member of likesService.paginatedResult()?.items; track member.id) {
        <div class="col-2">
            <app-member-card [member]="member"></app-member-card>
        </div>
        }
    </div>
</div>

@if (likesService.paginatedResult()?.pagination) {
    <div class="d-flex justify-content-center">
        <pagination 
            [boundaryLinks]="true" 
            [totalItems]="likesService.paginatedResult()?.pagination!.totalItems"
            [itemsPerPage]="likesService.paginatedResult()?.pagination!.itemsPerPage"
            (pageChanged)="pageChanged($event)"
            [(ngModel)]="likesService.paginatedResult()?.pagination!.currentPage"
            [maxSize]="10"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">
        </pagination>
    </div>
    
}